.notFound{
    padding: 10px;
    width: 300px;
    height: 300px;
    text-align: center;
    box-shadow: 5px 5px 10px lightgray;
    margin-left: 500px;
    margin-top: 50px;
}
.notFound h1{
    color: tomato;
    font-weight: 500;
}
.notFound h2{
    color: orangered;
    font-weight: 700;
}